<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-33">
      Licensed under ...
    </div>
    <div class="grid-33">
      Created by <a href="mailto:&#099;&#108;&#097;&#121;&#116;&#111;&#110;&#114;&#097;&#121;&#109;&#111;&#110;&#100;&#050;&#048;&#048;&#052;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Clayton Colwell</a>
    </div>
    <div class="grid-33">
      Built for the <a href="http://louisville.edu/speed">Speed School of Engineering</a>
    </div>
  </div>
</footer>
